* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
    font-family: 'Iceland', cursive;
}
html {
    width: 100%;
    height: 100%;
    min-height: 100%; 
}
body {
    background: url("background.jpg") no-repeat center center;
    background-size: cover;
}

#baseElement {
    position: absolute;
    top: 3em;
    left: 10em;
    padding: 2em;
    height:40em;
    width: 40em;
    margin: auto;
    border-radius: 100%;

}
.gradient {
    background: #dfb75c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-45deg, #654512, #fce781, #654512); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #654512, #fce781, #654512); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg,#654512, #fce781, #654512); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, #654512, #fce781, #654512); 
    background-image: radial-gradient(farthest-corner at 45px 45px , #654512 0%, #fce781 45%, #654512 80%);
    box-shadow: 2px 3px 0 1px #221500;
}
button {
    float: left;
    border: none;
    outline: none;
    margin: 1%;
    width: 48%;
    height: 48%;
}

#greenButton {
    border-top-left-radius: 100%;
}
#greenButton:hover {
    background-color: #54c342;
}
.greenInactive {
    background-color: #35b520;
}
.greenActivated {
    background-color: #7ad96b;
}

#redButton {
    border-top-right-radius: 100%;
}
#redButton:hover {
    background-color: #e84f56;
}
.redInactive {
    background-color: #d7262f;
}
.redActivated {
    background-color: #fb7c82;
}

#yellowButton {
    border-bottom-left-radius: 100%;
}
#yellowButton:hover {
    background-color: #ece250;
}
.yellowInactive {
    background-color: #dbd027;    
}
.yellowActivated {
    background-color: #fff77e;
}

#blueButton {
    border-bottom-right-radius: 100%;
}
#blueButton:hover {
    background-color: #405d9e;
}
.blueInactive {
    background-color: #274793; 
}
.blueActivated {
    background-color: #647db6;
}
#centerPanel {
    position: absolute;
    top: 22vh;
    left: 22vh;
    height:20em;
    width: 20em;
    margin: auto;
    border-radius: 100%;    
    background: #dfb75c; /* For browsers that do not support gradients */
    background-image: radial-gradient(farthest-corner at 20px 20px , #654512 0%, #fce781 50%, #654512 80%);
    box-shadow: 2px 3px 0 1px #221500;
    text-align: center;
  
}
#counterDisplay {
    position: relative;
    height: 20%;
    width: 30%;
    margin: auto;
    text-align: center;
    background-color: #221500;    
    border: 2px solid black;
    border-radius: 12px;     
}
#counterDisplay p {
    position: relative;
    top: -2px;
    color: #fce781;
    font-size: 60px;
    letter-spacing: 3px;
    display: inline-block;
}
#toggleContainer {
    position: relative;
}
#toggleContainer p {
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -0.8em;
    font-size: 1.1em;
}
/* On/Off slide toggle styling*/
.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border: 2px solid #3D2909;
    border-radius: 34px;
}
.toggleSwitch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #221500;
    background: -webkit-linear-gradient(-45deg, #221500, #654512, #221500); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #221500, #654512, #221500); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg,#221500, #654512, #221500); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, #221500, #654512, #221500);     
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;

}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background: #dfb75c; /* For browsers that do not support gradients */
  background-image: radial-gradient(farthest-corner at 40px 40px , #fce781 0%, #654512 50%, #fce781 80%);
  box-shadow: -1px 1px 0 1px #3D2909;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 50%;
}

input:checked + .slider {
    background-color: #F6E17D;
    background: -webkit-linear-gradient(-45deg, #654512, #C8AF5A, #654512); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #654512, #C8AF5A, #654512); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg,#654512, #C8AF5A, #654512); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, #654512, #C8AF5A, #654512); 
}
input:focus + .slider {
   box-shadow: 0 0 1px #F6E17D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*End of On/Off Slide Toggle styling*/

/*enable/disable toggle buttons styling*/
.toggleModeButton{
    text-align: center;
    position: relative;    
    display: block;
    width: 60px;
    height: 34px;
    border-radius: 34px;  
    font-weight: bold;
    font-size: 1.2em;
}
.toggleModeButton input {
    display: none;
}
.toggleButton {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;     
}
.toggleButton:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 50px;
  bottom: 8px;  
  background: #dfb75c; /* For browsers that do not support gradients */
  background-image: radial-gradient(farthest-corner at 40px 40px , #fce781 0%, #654512 50%, #fce781 80%);
  box-shadow: 0px 4px 0 1px #3D2909;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 50%;
}
input:checked + .toggleButton:before {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
   box-shadow: 0px 0px 0 2px #3D2909;
}

/*end of enable/disable toggle buttons styling*/
#startResetLabel {
    position: relative;
}